body{
  margin: 0;
  font-family: sans-serif;
}

h1, h2{
  margin: 0;
  color: black;
}

li{
  display: inline-block;
  padding: 24px 29px 24px 23px;
  font-size: 24px;
}

.container-1{
  background-image: url('background.jpg');
  background-size: 1920px 1273px;
  margin: 0;
  height: 700px;
}

.container-2{
  background: #66BFBF;
  height: 700px;
}

.content{
  font-size: 36px;
  position: relative;
  text-align: center;
  top: 113px;
  color: black;
}

.top-img{
  width: 7%;
  padding: 1px 1px 1px 42px;
}

.container-3{
color: black;
height: 700px;
}

.header-3{
  color: black;
}

.about-section{
  text-align: center;
}

.top-navbar{
  width: 85%;
  background: grey;
  height: 82px;
  float: right;
  margin: 10px;
  border-radius: 10px;
}

.top-form{
  width: 27%;
  float: right;
  margin-top: 18px;
}

.search-bar{
  border: 1.5px solid black;
  background-image: url('search.png');
  background-position: 6px 7px;
  background-repeat: no-repeat;
  padding: 9px 7px 10px 31px;
  border-radius: 3px;
}

.search-bar:focus{
  background-color: #bad0f4;
  width: 88%;
}

li:hover {
  text-decoration: underline;
  color: #fff;
}

.content-2{
  font-size: 20px;
  text-align: center;
}

img{
  width: 10%;
}
