body{
  margin: 0;
  font-family: sans-serif;
}

h1, h2{
  margin: 0;
  color: #fff;
}

li{
  display: inline-block;
  padding: 24px 27px 5px 5px;
  font-size: 24px;
}

.container-1{
  background-color: black;
  background-size: 1381px 656px;
  margin: 0;
  height: 700px;
}

.container-2{
  background: #66BFBF;
  height: 700px;
}

.content{
  font-size: 36px;
  position: relative;
  text-align: center;
  top: 113px;
  color: #fff;
}

.top-img{
  width: 7%;
}

.container-3{
color: black;
height: 700px;
}

.header-3{
  color: black;
}

.about-section{
  text-align: center;
}

.top-navbar{
  width: 85%;
  background: grey;
  height: 82px;
  float: right;
  margin: 10px;
  border-radius: 10px;
}

.top-form{
  width: 20%;
  float: right;
  margin-top: 18  px;
}

.search-bar{
  border: 2px solid black;
  background-image: url('search.png');
  background-position: 6px 7px;
  background-repeat: no-repeat;
  padding: 9px 7px 10px 31px;
}
