.container-1{
  background-color: black;
  background-size: 1381px 656px;
  margin: 0;
  height: 700px;
}

h1, h2{
  margin: 0;
  color: #fff;
}

body{
  margin: 0;
  font-family: sans-serif;
}

.container-2{
  background: #66BFBF;
  height: 700px;
}

.content{
  font-size: 36px;
  position: relative;
  text-align: center;
  top: 113px;
  color: #fff;
}

.top-img{
  width: 7%;
}

.container-3{
color: black;
height: 700px;
}

.header-3{
  color: black;
}

.about-section{
  text-align: center;
}

.top-navbar{
  width: 85%;
  background: blue;
  height: 82px;
  float: right;
  margin: 10px;

}
